html, body{
	background-image: url('whiteback.png');
}

.menubut{
	font-size: 20px;
	font-family: 'Lobster';
	margin: 10px;
	color: black;
	padding: 10px;
}

.menubut:hover{
	text-decoration: none;
	color: white;
	cursor: hand;
}

#menu{
	font-size: 40px;
	margin: 10px;
}

#menudiv{
	top: 30px;
	text-align: right;
}

#main{
	background-position: 0 0;
  	background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, red 50%);
  	transition: background-position 0.5s ease-out 0s;
  	background-size: 204% auto;
}

#main:hover{
	background-position: -98% 0;
  	background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, red 50%);
}

#main:after{
	color: black;
	font-style: none;
}

#resume{
	background-position: 0 0;
  	background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, yellow 50%);
  	transition: background-position 0.5s ease-out 0s;
  	background-size: 202% auto;
}

#resume:hover{
	background-position: -99.99% 0;
  	background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, yellow 50%);
}

#other{
	background-position: 0 0;
  	background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, purple 50%);
  	transition: background-position 0.5s ease-out 0s;
  	background-size: 204% auto;
}

#other:hover{
	background-position: -98% 0;
  	background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, purple 50%);
}

/*The div containing the picture and the about me text */
#picandtext{
	width: 90vw;
}

/* My picture*/
#mepic{
	width: 35vw;
}

/* The paragraphs about me */
#abouttext{
	width: 40vw;
	font-size: 1.2vw;
	margin: 0;
	padding: 10px 0 0 10px;
}


/* Bottom */
#bottom{
	width: 80vw;
	margin: 0 auto;
}

#iconmenu{
	width: 30vw;
	margin: 0 auto;
	text-align: center;
}

#email{
	font-size: 30px;
	color: black;
	text-align: center;
}

#git{
	font-size: 30px;
	color: black;
	text-align: center;
}

#linkedin{
	font-size: 30px;
	color: black;
	text-align: center;
}

#email:hover{
	color: red;
}

#git:hover{
	color: green;
}

#linkedin:hover{
	color: blue;
}
